body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.home-plus {
  background-image: url('https://a0.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png');
  background-size: 50px;
  width: 50px;
  height: 36px;
  fill: rgb(145, 70, 105);
  overflow: hidden;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#footer-content {
  display: table;
  width: 100%;
}

#container {
  padding: 16px 24px 40px;
  margin-bottom: -24px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.14);
}

#logo {
  display: table-cell;
}

.star-rating {
  background-image: url('assets/star.png');
  background-size: 9px 9px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 10px;
}

#name {
  display: table-cell;
  width: 100%;
}

#price {
  display: table-cell;
  white-space: nowrap;
  /* padding: 10px 0px; */
  /* margin-top: 2px; */
}

.price {
  font-size: 16px;
  font-weight: 800;
  color: 484848;
}

.duration {
  font-size: 16px;
  color: #484848;
}

.home-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #767676;
}

.reviews {
  border: 0px;
  cursor: pointer;
}

.reviews-count {
  font-size: 12px;
  font-weight: 800;
}


#book-container {
  display: table-cell;
  margin-left: 24px;
}

#book {
  width: 174px;
  height: 48px;
}

.book {
  display: inline-block;
  background: #914669;
  color: #fff;
  font-size: 16px;
  border-width: 2px;
  border-radius: 4px;
  padding: 10px 8px;
  cursor: pointer;
  width: 100%;
}